*/.config/nvim/plugin/packer_compiled.lua
*/.config/lxc
nvim-lsp.log
nvim-packer.log
*/.config/nvim-qt/window-geometry.conf
*/.config/user-dirs.dirs
*/.config/user-dirs.locale
*/.config/pulse
*/.ipython/profile_default/history.sqlite
*/.ipython/profile_default/startup/README
