[init]
	defaultBranch = main
[user]
	email = kurt@kwk.systems
	name = Kurt Kremitzki
[pull]
	ff = only
[url "https://invent.kde.org/"]
	insteadOf = kde:
[url "ssh://git@invent.kde.org/"]
	pushInsteadOf = kde:
[url "git+ssh://kkremitzki@git.launchpad.net/"]
    insteadof = lp:
[merge]
	conflictStyle = diff3
[alias]
	bla = branch --list --all
	bl = branch --list
        rbi = !sh -c 'git rebase -i HEAD~$1' -
        rh = reset --hard
        rhh = reset --hard HEAD~1
        cf = clean -fxd
        ci = commit -m
        tl = tag --list
        hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
	fu = fetch upstream
