[init]
	defaultBranch = main
[user]
	email = kurt@kwk.systems
	name = Kurt Kremitzki
[pull]
	ff = only
[url "https://invent.kde.org/"]
	insteadOf = kde:
[url "ssh://git@invent.kde.org/"]
	pushInsteadOf = kde:
