[init]
	defaultBranch = main
[user]
	email = kurt@kwk.systems
	name = Kurt Kremitzki
[pull]
	ff = only
[url "https://invent.kde.org/"]
	insteadOf = kde:
[url "ssh://git@invent.kde.org/"]
	pushInsteadOf = kde:
[merge]
	conflictStyle = diff3
[alias]
	bla = branch --list --all
	bl = branch --list
